/* -- Default styles -- */
:root {
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --gray-blue: hsl(229, 8%, 60%);
    --dark-blue: hsl(229, 31%, 21%);
    --rubik: 'Rubik', sans-serif;
    --toggle-icon-size: 15px;
    --mobile-nav-width: 80%;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: var(--rubik);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: var(--rubik);
    color: var(--dark-blue);
    font-weight: 500;
}

p {
    line-height: 1.5;
    color: var(--gray-blue);
    margin-top: 0;
    font-family: var(--rubik);
}

a {
    font-family: var(--rubik);
}

button {
    padding: .75rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: .8rem;
}

.btn--main {
    background-color: var(--soft-blue);
    color: white;
    border: 2px solid var(--soft-blue);
    box-shadow: 2px 2px 2px 0 hsl(231, 69%, 85%);
    transition: background 250ms ease-in-out;
}

.btn--main:hover {
    background-color: white;
    color: var(--soft-blue);
}

.btn--light {
    background-color: #fafafa;
    color: var(--dark-blue);
    border: 2px solid #fafafa;
    box-shadow: 2px 2px 2px 0 hsl(229, 8%, 80%);
    transition: border 250ms ease-in-out;
}

.btn--light:hover {
    border-color: var(--gray-blue);
}

.btn--alt {
    background-color: var(--soft-red);
    color: white;
    border: 2px solid var(--soft-red);
    box-shadow: 2px 2px 2px 0 hsl(0, 94%, 66%);
    padding: .5rem 2rem;
    transition: background 250ms ease-in-out;
}

.btn--alt:hover {
    background-color: white;
    color: var(--soft-red);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn--outline {
    width: var(--mobile-nav-width);
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    letter-spacing: 2.35px;
    font-weight: 400;
}

section {
    --section-spacing: 4rem;
    --x-padding: 1.5rem;
    padding: var(--section-spacing) var(--x-padding);
}

.hidden {
    display: none !important;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--soft-blue);
    margin: 0;
}

.social-icon path {
    transition: fill 250ms ease-in-out;
}

.social-icon path:hover {
    fill: var(--soft-red);
}

/* -- Navbar -- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navbar__logo {
    width: 148px;
    height: 25px;
}

.navbar__logo path:first-child {
    fill: white;
}

.navbar__logo path:last-child {
    fill: var(--dark-blue);
}

.navbar__logo circle {
    fill: white;
}

.navbar__toggle-open {
    width: var(--toggle-icon-size);
    height: var(--toggle-icon-size);
}

.navbar__wrapper {
    display: flex;
    background-color: var(--dark-blue);
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4rem);
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
}

.navbar {
    margin: 0 0 1.5rem;
    padding: 0;
    list-style-type: none;
    width: var(--mobile-nav-width);
    text-align: center;
}

.navbar:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.navbar__item {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar__link {
    color: white;
    text-decoration: none;
}

.navbar__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--mobile-nav-width);
    padding-bottom: 2.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.navbar__toggle-close {
    height: var(--toggle-icon-size);
    width: var(--toggle-icon-size);
}

.navbar__toggle-close path {
    fill: white;
}

.navbar__social-container {
    margin-top: auto;
}

.navbar__social-container svg:first-child {
    margin-right: 2rem;
}

.navbar__wrapper--desktop {
    display: none;
    transition: color 250ms ease-in-out;
}

.navbar__link--desktop:hover {
    color: var(--soft-red);
}

/* -- Hero -- */

.hero {
    display: flex;
    flex-direction: column;
}

.hero__image-container {
    position: relative;
    margin-bottom: 2.5rem;
}

.hero__image {
    max-width: 100%;
    z-index: 2;
}

.hero__blue-shape {
    width: 75%;
    height: 75%;
    background-color: var(--soft-blue);
    position: absolute;
    right: -32px;
    bottom: 0;
    border-bottom-left-radius: 30%;
    z-index: -1;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__heading {
    text-align: center;
    color: var(--dark-blue);
    font-size: 1.75rem;
}

.hero__text {
    text-align: center;
    color: var(--gray-blue);
    margin-bottom: 2rem;
}

.button__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/* -- Features -- */

.features__content {
    text-align: center;
    margin-bottom: 2.5rem;
}

.features__tablist {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 5rem;
}

button[role="tab"] {
    background-color: transparent;
    border-top: none;
    border-bottom: 1px solid var(--gray-blue);
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 1rem 0;
    font-size: 18px;
    color: var(--dark-blue);
    transition: color 250ms ease-in-out, border 250ms ease-in-out;
}

button[role="tab"]:hover {
    color: var(--soft-red);
}

button[aria-selected="true"] {
    border-bottom-color: var(--soft-red);
}

.features__tablist:first-child {
    border-top: 1px solid var(--gray-blue);
}

.features__tabpanel {
    text-align: center;
}

.features__tab-image-container {
    position: relative;
    margin-bottom: 1.5rem;
}

.features__tab-image {
    max-width: 100%;
    margin-bottom: 3rem;
    z-index: 2;
}

.features__tab-blue-shape {
    width: 80%;
    height: 79%;
    background-color: var(--soft-blue);
    position: absolute;
    left: -27px;
    bottom: 20px;
    border-bottom-right-radius: 30%;
    z-index: -1;
}

.features__tabpanel button {
    display: none;
}


/* -- Extension -- */

.extension {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extension__heading {
    text-align: center;
}

.extension__text {
    text-align: center;
}
    
.extension__card-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.extension__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(145, 148, 161, 0.1);
    border-radius: 8px;
    box-shadow: 0 5px 3px 0 rgba(83, 104, 223, 0.15);
}

.extension__card-image {
    --image-size: 100px;
    height: var(--image-size);
    width: var(--image-size);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.extension__card-heading {
    margin-bottom: .5rem;
}

.extension__card-text {
    font-size: 14px;
    margin-bottom: 2rem;
}

/* TODO - figure out how to make the dotted spacing work */
.extension__card-button-container { 
    background-image: linear-gradient(to right, var(--gray-blue) 10%, rgba(255, 255, 255, 0) 15%);
    background-position: top;
    background-size: 18px 3px;
    background-repeat: repeat-x;
    width: 100%;
    padding: 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extension__card-button-container .btn--main {
    width: 100%;
    padding: .75rem;
}

/* -- FAQ -- */

.faq__heading {
    text-align: center;
}

.faq__text {
    text-align: center;
}

.faq__accordion-button {
    border: none;
    border-bottom: 1px solid var(--gray-blue);
    padding: 1rem 0;
    text-align: left;
    width: 100%;
    background-color: white;
    border-radius: 0;
    font-size: 15px;
    font-weight: 500;
    color: var(--dark-blue);
    margin-bottom: 1rem;
    transition: color 250ms ease-in-out;
}

.faq__accordion-button:hover {
    color: var(--soft-red);
}

.faq__accordion-button svg {
    float: right;
    padding-right: 1rem;
}

/* Arrow icon active state */
.faq__accordion-button--active svg {
    transform: rotate(0.5turn);
    padding-left: 1rem;
    padding-right: 0;
}

.faq__accordion-button--active path {
    stroke: var(--soft-red);
}

.faq__accordion-panel {
    border-bottom: 1px solid var(--gray-blue);
    display: none;
    transition: all 3s ease-out;
}

.faq__accordion-panel p {
    line-height: 35px;
}

.faq > .btn--main {
    display: block;
    margin: 1rem auto 0;
}


/* -- CTA -- */

.cta {
    background-color: var(--soft-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta__sub-heading {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3.25px;
}

.cta__heading {
    color: white;
    text-align: center;
}

.cta__contact-container {
    width: 90%;
}

.cta__contact-container div {
    width: 100%;
    margin-bottom: 1rem;
}

.cta__input {
    width: calc(100% - 20px);
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 20px;
}

.cta__input--error {
    border-color: var(--soft-red);
}

.cta__input--error::after {
    content: url('/images/icon-error.svg');
    background-color: black;
}

.cta__error-message {
    display: inline-block;
    background-color: var(--soft-red);
    color: white;
    width: calc(100% - 20px);
    padding: 7px 10px;
    font-size: 14px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.cta__contact-container button {
    width: 100%;
    height: 43px;
    font-size: 14px;
}


/* -- Footer -- */

footer {
    background-color: var(--dark-blue);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo path {
    fill: #fff;
}

.footer__navbar-wrapper {
    margin: 2rem 0;
}

.footer__navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__navbar-item {
    padding: .5rem;
    text-align: center;
}

.footer__navbar-link:hover {
    color: var(--soft-red);
}

.footer__navbar-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--rubik);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    transition: color 250ms ease-in-out;
}

.footer__social-icon:first-of-type {
    margin-right: 2rem;
}


/* ------ Media Queries ------ */

@media (min-width: 768px ) {

    .navbar__toggle-open {
        display: none;
    }

    .navbar__wrapper--desktop {
        display: flex;
    }

    .navbar--desktop {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    .navbar__item--desktop {
        margin-right: 2rem;
    }

    .navbar__link--desktop {
        color: var(--dark-blue);
        text-decoration: none;
        font-size: 16px;
    }

    /* -- Hero -- */

    .hero__content {
        max-width: 500px;
        margin: 0 auto;
    }

    /* -- Features -- */

    .features__tab-blue-shape {
        width: 65%;
    }

    .features__content {
        max-width: 500px;
        margin: 0 auto 45px;
    }

    .features__tablist {
        max-width: 500px;
        margin: 0 auto 5rem;
    }

    .features__tab-content {
        max-width: 500px;
        margin: 0 auto;
    }

    /* -- Extenstion -- */

    .extension__card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .extension__text {
        max-width: 500px;
        margin-bottom: 3rem;
    }

    /* -- FAQ -- */

    .faq__text {
        max-width: 500px;
        margin: 0 auto 1rem;
    }

    .faq__accordion-wrapper {
        max-width: 550px;
        margin: 0 auto;
    }

}

@media (min-width: 1000px) {

    section {
        --section-spacing: 5rem;
    }

    .hero {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .hero__image {
        max-width: 500px;
    }

    .hero__content {
        max-width: 450px;
    }

    .hero__heading {
        text-align: left;
        font-size: 2rem;
    }

    .hero__text {
        text-align: left;
    }

    .button__container {
        justify-content: flex-start;
    }

    .button__container button:first-child {
        margin-right: 2rem;
    }

    /* -- Features -- */

    .features__content {
        max-width: 600px;
    }

    .features__tablist {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--gray-blue);
        max-width: 720px;
    }

    .features__tablist:first-child {
        border-top: none;
    }

    button[role="tab"] {
        border-bottom: none;
        margin-right: 0;
    }

    button[role="tab"]:hover {
        border-bottom: 3px solid var(--soft-red);
    }
    
    button[aria-selected="true"] {
        border-bottom: 3px solid var(--soft-red);
    }

    .features__tab {
        margin-right: 5rem;
    }

    .features__tab:last-child {
        margin-right: 0;
    }

    .features__tabpanel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: left;
    }

    .features__tab-content {
        max-width: 450px;
    }

    .features__tab-image {
        width: 450px;
        margin-right: 5rem;
    }

    .features__tabpanel button {
        display: inline-block;
    }

    /* -- Extension -- */

    .extension__card {
        max-height: 325px;
    }

    .extension__card:nth-child(2) {
        margin-top: 1.5rem;
    }

    .extension__card:last-child {
        margin-top: 3rem;
    }

    /* -- CTA -- */

    .cta__contact-container {
        max-width: 500px;
        width: 100%;
        display: flex;
    }

    .cta__input {
        margin-right: 1rem;
        flex: 1;
    }

    .cta__contact-container button {
        width: auto;
    }

    /* -- Footer -- */

    footer {
        flex-direction: row;
        padding: 0 5rem;
    }

    .footer__logo {
        width: 160px;
    }

    .footer__navbar-wrapper {
        margin-left: 2rem;
    }

    .footer__navbar {
        display: flex;
    }

    .footer__social-container {
        margin-left: auto;
    }

    .footer__navbar-link {
        opacity: 0.8;
    }

}

/* TODO - Add media queries for larger screen sizes */

@media (min-width: 1250px) {

    .hero {
        justify-content: space-evenly;
    }
    
    .hero__content {
        margin: 0;
    }

    /* -- Features -- */

    .features__tabpanel {
        justify-content: space-evenly;
    }

    .features__tab-content {
        margin: 0;
    }
}

@media (min-width: 1920px) {

    .hero {
        justify-content: center;
    }

    .hero__content {
        margin-right: 7rem;
    }

    /* -- Features -- */

    .features__tabpanel {
        justify-content: center;
    }

    .features__tab-content {
        margin-left: 7rem;
    }

}