/* -- Default styles -- */
:root {
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --gray-blue: hsl(229, 8%, 60%);
    --dark-blue: hsl(229, 31%, 21%);
    --rubik: 'Rubik', sans-serif;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: var(--rubik);
    color: var(--dark-blue);
    font-weight: 500;
}

p {
    line-height: 1.5;
    color: var(--gray-blue);
    margin-top: 0;
    font-family: var(--rubik);
}

button {
    padding: .5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: .6rem;
}

.btn--main {
    background-color: var(--soft-blue);
    color: white;
    border: 1px solid var(--soft-blue);
}

.btn--light {
    background-color: white;
    color: var(--dark-blue);
}

.btn--alt {
    background-color: var(--soft-red);
    color: white;
    border: 1px solid var(--soft-red);
}

section {
    --spacing: 5rem;
    /* margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto; */
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

/* -- Hero -- */

.hero {
    display: flex;
    flex-direction: column;
}

.hero__image {
    max-width: 100%;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__heading {
    text-align: center;
    color: var(--dark-blue);
}

.hero__text {
    text-align: center;
    color: var(--gray-blue);
    margin-bottom: 2rem;
}

.button__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/* -- Features -- */

.features__content {
    text-align: center;
    margin-bottom: 2.5rem;
}

.features__tablist {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 5rem;
}

button[role="tab"] {
    background-color: transparent;
    border-top: none;
    border-bottom: 1px solid var(--gray-blue);
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 1rem 0;
    font-size: 18px;
    color: var(--dark-blue);
}

/* TODO - may need to put buttons in div, then use red border on bottom of button with the full-width gray border on the div */
button[aria-selected="true"] {
    border-bottom-color: var(--soft-red);
}

.features__tablist:first-child {
    border-top: 1px solid var(--gray-blue);
}

.features__tabpanel {
    text-align: center;
}

.features__tab-image {
    max-width: 100%;
    margin-bottom: 3rem;
}

.features__tabpanel button {
    visibility: hidden;
}


/* -- Extension -- */

.extension {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extension__card-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.extension__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(145, 148, 161, 0.1);
    border-radius: 8px;
    box-shadow: 5px 5px 3px 0 rgba(145, 148, 161, 0.2);
}

.extension__card-image {
    --image-size: 100px;
    height: var(--image-size);
    width: var(--image-size);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.extension__card-heading {
    margin-bottom: .5rem;
}

.extension__card-text {
    font-size: 14px;
    margin-bottom: 2rem;
}

/* TODO - figure out how to make the dotted spacing work */
.extension__card-button-container { 
    background-image: linear-gradient(to right, var(--gray-blue) 10%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 10px 5px;
    background-repeat: repeat-x;
    width: 100%;
    padding: 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extension__card-button-container .btn--main {
    width: 100%;
    padding: .75rem;
}

/* -- FAQ -- */



/* -- CTA -- */

.cta {
    background-color: var(--soft-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta__sub-heading {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3.25px;
}

.cta__heading {
    color: white;
    text-align: center;
}

.cta__contact-container {
    max-width: 90%;
}

.cta__input {
    width: calc(100% - 20px);
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 20px;
    margin-bottom: 1rem;
}

.cta__contact-container button {
    width: 100%;
    height: 43px;
    font-size: 14px;
}


/* -- Footer -- */

footer {
    background-color: var(--dark-blue);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo path:first-child {
    fill: #fff;
}

.footer__navbar-wrapper {
    margin: 2rem 0;
}

.footer__navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__navbar-item {
    padding: .5rem;
    text-align: center;
}

.footer__navbar-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--rubik);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
}

.footer__social-icon:first-of-type {
    margin-right: 2rem;
}